[user]
  name = Simon Charette
  email = charette.s@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore

[merge]
  tool = meld

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  ph = log --graph --pretty=pretty-history --abbrev-commit --date=relative

[pretty]
  pretty-history = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[push]
  default = simple
